@CHARSET "UTF-8";

body
{
  background-color: #CCCCCC;
}

div.block
{
  text-align: center;
}

div.block .block
{
  background-color: #DDDDFF;
  border: thin solid #000000;
  margin-top: 20px;
  padding: 15px;
  text-align: center;
}

div.block .block .block
{
  background-color: #99DDFF;
}

div.content
{
  padding-top: 20px;
}

div.groupIdentifier
{
  border-bottom: thin solid #000000;
  font-weight: bold;
  padding: 3px;
}

div.server
{
  background-color: #55CCCC;
  border: thin solid #000000;
  margin: 15px;
  padding: 10px;
}

table.blockTable
{
  width: 100%;
}

table.blockTable td
{
  padding: 5px;
}

table.blockTable tr
{
  background-color: #FFFFFF;
}

#footer
{
  margin-top: 30px;
  text-align: center;
}

#header
{
  background-color: #0044BB;
  border: thin solid #000000;
  color: #FFFFFF;
  height: 100px;
  text-align: center;
}